extends layout.jade
block cuerpo
	.ed-container.home.main-center
		.ed-item.tablet-35.ed-item.home__cabecera
			h1.home__titulo.main-end Bienvenido 
		.ed-item.tablet-65.web-45.home__cuerpo
			.home__foto
				img.home__foto--fondo(src="#{user.online.photo}")
				img.home__foto--avatar(src="#{user.online.photo}")
			.home__nombre
					h2 #{user.online.name}
			.home__salir
					a(href="/logout") Salir